.square-black{
    display: flex;
    flex-direction: column;
    width: 306px;
    height: 556px;
    background-color:  #ADADAD;
    gap: 29px;
    padding: 19px;
    border-radius: 25px;

}
.main{
    display: flex;
}
.img-login{
    height: 50px;
   
}
.turmas{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.aluno{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.pasta{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.boletim{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.link-menu{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}
.pasta, .aluno, .boletim, .turmas{
    font-weight: bold;


  }

@media screen and (min-width: 768px) {
.main{
    display: flex;
    justify-content: center;
    margin-top: 5% ;
}
    .square-black{
        display: flex;
        flex-direction: column;
        width: 394px;
        height: 715.9px;
        background-color:  #ADADAD;
        gap: 13px;
        padding: 19px;
        border-radius: 25px;
        gap: 20px;
    }
    .pasta, .aluno, .boletim, .turmas{
      font-weight: bold;
      width: 10%;
      font-size: 30px;
      margin-top: 7%;  

    }
    .img-login{
        width: 70px;
        height: 70px;
    }
    .link-menu{
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
    }
}